.advantages {
    padding: 20px 0;
    background: url(../img/advantages/advantages_fon.jpg) no-repeat;
    background-position: top right;
    
    .section_title {
        justify-content: center;
        
        h3::before, h3::after {
            content: '';
            width: 25px;
            top: 11px;
            left: -40px;
        }
        h3::after {
            left: auto;
            right: -40px;
        }
    }
    
    .advantages_box {
        
        .advantages_item {
            margin-top: 45px;
            display: grid;
            grid-template-columns: repeat(2, minmax(auto, max-content));
            grid-gap: 65px;
            align-items: center;
            grid-auto-flow: dense;
            
            @media (max-width: 760px) {
                grid-template-columns: 1fr;
                grid-gap: 25px;
                justify-items: center;
            }
            
            &:last-child {
                justify-content: end;
            }
            &:first-child {
                .advantages_text {
                    grid-column: 2;
                    
                    @media (max-width: 760px) {
                        grid-column: 1;
                    }
                }
            }

            .advantages_text {
                

                li {
                    font-size: 16px;
                    color: #111111;
                    line-height: 1;
                    margin-top: 20px;
                    margin-left: 20px;
                    list-style-image: url(../img/advantages/heart_icon.png);
                }
            }

            .advantages_img {
                width: 280px;
                height: 280px;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    width: 240px;
                    height: 240px;
                    border: 2px solid @bright-color;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
}