.header {
    background-color: @light-color;
    position: fixed;
    width: 100%;
    z-index: 2;
    
    .header_nav {
        height: 90px;
        padding: 10px 0;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        
        .header_logo {
            height: 100%;
            
            .main-logo {
                height: 100%;
            }
        }
        
        .header_menu {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            padding: 0;
            margin: 0;
            transition: .3s all;
            
            li{
                list-style-type: none;
                
                a {
                    text-decoration: none;
                    font-size: 18px;
                    color: #181818;
                    padding: 10px 25px;
                    transition: .3s all;
                    position: relative;
                    text-transform: lowercase;

                    &:hover {
                        color: @bright-color;
                    }
                }
                
                &:first-child {
                    a {
                        padding-left: 0;
                    }
                }
                
                &:last-child {
                    a {
                        padding-right: 0;
                    }
                }
                
            }
            
            
        }
    }
    .header_burger {
        display: none;
    }
}

//ADAPTIV

@media (max-width: 1000px) {
    
    .header {
        .header_nav {
            height: 40px;
            z-index: 200;
            
            .header_menu {
                position: fixed;
                top: 0;
                right: -100%;
                width: 100%;
                height: 100%;
                background-color: @light-color;
                display: block;
                margin-top: 60px;
                
                li {
                    margin: 10px;
                    
                    a {
                        display: block;
                        padding: 15px 10px;
                        font-size: 24px;
                    }
                    
                    &:first-child {
                        a {
                            padding-left: 10px;
                        }
                    }
                }
            }
            .header_menu.active {
                right: 0;
            }
            
            .header_burger {
                display: block;
                position: relative;
                width: 30px;
                height: 21px;
                margin-right: 15px;
                

                span {
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    top: 9px;
                    
                    &::before, &::after {
                        content: '';
                        width: 100%;
                        height: 100%;
                        background-color: #fff;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transition: transform .3s;
                    }
                }

                &::before, &::after {
                    content: '';
                    background: rgba(255,255,255,1);
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    left: 0;
                    transition: top .3s .3s, bottom .3s .3s, background 0s .3s;
                }
                &::before {
                    top: 0;
                }
                &::after {
                    bottom: 0;
                }
            }
            .header_burger.active {
                span {
                    
                }
                span::before {
                    transform: rotate(45deg);
                    transition: transform .3s .3s;
                }
                span::after {
                    transform: rotate(-45deg);
                    transition: transform .3s .3s;
                }
                &::before {
                    background: rgba(255,255,255,0);
                    top: 9px;
                    transition: top .3s, background .3s .3s; 
                }
                &::after {
                    background: rgba(255,255,255,0);
                    bottom: 9px;
                    transition: bottom .3s, background .3s .3s; 
                }
            }
            .header_logo {
                z-index: 1;
            }
        }
    }
}

//ADAPTIV-END