.top-slider {
    width: 100%;
    padding-top: 110px;
    
    @media (max-width: 1000px) {
        padding-top: 60px;
    }
    
    .owl-carousel {
        width: 100%;
        
        .item {
            height: 650px;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;
            background-repeat: no-repeat;
            background-size: cover;
            
            @media (max-width: 760px) {
                height: 400px;
            }
            
            .top-slider_title {
                font-size: 32px;
                text-transform: uppercase;
                font-weight: 600;
                margin-left: 50%;
                width: 500px;
                line-height: 1.5;
                
                @media (max-width: 760px) {
                    font-size: 22px;
                    margin-left: 10%;
                }
            }
        }
        
        .owl-nav {
            background-color: green;
            
            .owl-prev, .owl-next {
                position: absolute;
                top: 45%;
                width: 30px;
                height: 55px;
                
                background-size: contain;
                background-repeat: no-repeat;
            }
            
            .owl-prev {
                left: 100px;
                background-image: url(../img/icons/left.png);
                
                @media (max-width: 760px) {
                    left: 10px;
                }
            }
            .owl-next{
                right: 100px;
                background-image: url(../img/icons/right.png);
                
                @media (max-width: 760px) {
                    right: 10px;
                }
            }
        }
        
        .owl-dots {
        }
    }
}