@font-face {
  font-family: "Century";
  src: url("../fonts/century.ttf") format("truetype");
}
@font-face {
  font-family: "Century Gothic";
  src: url("../fonts/century_gothic.ttf") format("truetype");
}
body {
  margin: 0;
  padding: 0;
  font-family: "Century Gothic", sans-serif;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}
button {
  border: none;
  outline: none;
}
button:hover,
button:active,
button:focus {
  border: none;
  outline: none;
}
input:focus,
textarea:focus {
  outline: none;
}
h1,
h2,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
.section_title {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section_title h3 {
  position: relative;
  font-size: 22px;
  color: #000;
  text-transform: uppercase;
}
.section_title h3::before,
.section_title h3::after {
  position: absolute;
  height: 2px;
  background-color: #ce1538;
}
h4 {
  font-weight: 500;
  font-size: 20px;
  color: #111111;
}
p {
  margin: 0;
  margin-top: 35px;
  padding: 0;
  font-size: 16px;
  color: #111111;
  line-height: 1.5;
}
ul {
  margin: 0;
  padding: 0;
}
.main-btn {
  display: inline-block;
  background-color: #ce1538;
  padding: 12px 25px;
  border-radius: 40px;
  border: 3px solid #ce1538;
  color: #fff;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
  line-height: 1;
}
.main-btn:hover {
  background-color: #fff;
  color: #ce1538;
}
.header {
  background-color: #f9d2d9;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.header .header_nav {
  height: 90px;
  padding: 10px 0;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header_nav .header_logo {
  height: 100%;
}
.header .header_nav .header_logo .main-logo {
  height: 100%;
}
.header .header_nav .header_menu {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  -webkit-transition: .3s all;
  transition: .3s all;
}
.header .header_nav .header_menu li {
  list-style-type: none;
}
.header .header_nav .header_menu li a {
  text-decoration: none;
  font-size: 18px;
  color: #181818;
  padding: 10px 25px;
}
.header .header_nav .header_menu li a:hover {
  color: #ce1538;
  text-decoration: underline;
}
.header .header_nav .header_menu li:first-child a {
  padding-left: 0;
}
.header .header_nav .header_menu li:last-child a {
  padding-right: 0;
}
.header .header_burger {
  display: none;
}
@media (max-width: 1000px) {
  .header .header_nav {
    height: 40px;
    z-index: 200;
  }
  .header .header_nav .header_menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #f9d2d9;
    display: block;
    margin-top: 60px;
  }
  .header .header_nav .header_menu li {
    margin: 10px;
  }
  .header .header_nav .header_menu li a {
    display: block;
    padding: 15px 10px;
    font-size: 24px;
  }
  .header .header_nav .header_menu li:first-child a {
    padding-left: 10px;
  }
  .header .header_nav .header_menu.active {
    right: 0;
  }
  .header .header_nav .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .header .header_nav .header_burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }
  .header .header_nav .header_burger::before,
  .header .header_nav .header_burger::after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header .header_nav .header_burger::before {
    top: 0;
  }
  .header .header_nav .header_burger::after {
    bottom: 0;
  }
  .header .header_nav .header_logo {
    z-index: 1;
  }
}
.top-slider {
  width: 100%;
  padding-top: 110px;
}
@media (max-width: 1000px) {
  .top-slider {
    padding-top: 60px;
  }
}
.top-slider .owl-carousel {
  width: 100%;
}
.top-slider .owl-carousel .item {
  height: 650px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 760px) {
  .top-slider .owl-carousel .item {
    height: 400px;
  }
}
.top-slider .owl-carousel .item .top-slider_title {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 50%;
  width: 500px;
  line-height: 1.5;
}
@media (max-width: 760px) {
  .top-slider .owl-carousel .item .top-slider_title {
    font-size: 22px;
    margin-left: 10%;
  }
}
.top-slider .owl-carousel .owl-nav {
  background-color: green;
}
.top-slider .owl-carousel .owl-nav .owl-prev,
.top-slider .owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 45%;
  width: 30px;
  height: 55px;
  background-size: contain;
  background-repeat: no-repeat;
}
.top-slider .owl-carousel .owl-nav .owl-prev {
  left: 100px;
  background-image: url(../img/icons/left.png);
}
@media (max-width: 760px) {
  .top-slider .owl-carousel .owl-nav .owl-prev {
    left: 10px;
  }
}
.top-slider .owl-carousel .owl-nav .owl-next {
  right: 100px;
  background-image: url(../img/icons/right.png);
}
@media (max-width: 760px) {
  .top-slider .owl-carousel .owl-nav .owl-next {
    right: 10px;
  }
}
.about {
  padding: 100px 0;
  background: url(../img/about/about-fon-luck.png) left no-repeat, url(../img/about/about-fon-bottles.jpg) right no-repeat;
  background-position: top -150px left, top right;
  background-size: auto, 100% auto;
}
.about .section_title h3::before {
  content: '';
  width: 50px;
  left: -20px;
  top: -10px;
}
.about .about_box {
  max-width: 540px;
}
.advantages {
  padding: 20px 0;
  background: url(../img/advantages/advantages_fon.jpg) no-repeat;
  background-position: top right;
}
.advantages .section_title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.advantages .section_title h3::before,
.advantages .section_title h3::after {
  content: '';
  width: 25px;
  top: 11px;
  left: -40px;
}
.advantages .section_title h3::after {
  left: auto;
  right: -40px;
}
.advantages .advantages_box .advantages_item {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, -webkit-max-content));
  grid-template-columns: repeat(2, minmax(auto, max-content));
  grid-gap: 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-flow: dense;
}
@media (max-width: 760px) {
  .advantages .advantages_box .advantages_item {
    grid-template-columns: 1fr;
    grid-gap: 25px;
    justify-items: center;
  }
}
.advantages .advantages_box .advantages_item:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.advantages .advantages_box .advantages_item:first-child .advantages_text {
  grid-column: 2;
}
@media (max-width: 760px) {
  .advantages .advantages_box .advantages_item:first-child .advantages_text {
    grid-column: 1;
  }
}
.advantages .advantages_box .advantages_item .advantages_text li {
  font-size: 16px;
  color: #111111;
  line-height: 1;
  margin-top: 20px;
  margin-left: 20px;
  list-style-image: url(../img/advantages/heart_icon.png);
}
.advantages .advantages_box .advantages_item .advantages_img {
  width: 280px;
  height: 280px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}
.advantages .advantages_box .advantages_item .advantages_img::before {
  content: '';
  position: absolute;
  width: 240px;
  height: 240px;
  border: 2px solid #ce1538;
  top: 0;
  left: 0;
}
.partnership .partnership_box {
  padding: 100px 0;
  display: grid;
  grid-template-columns: 5fr 6fr;
  grid-gap: 80px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
@media (max-width: 760px) {
  .partnership .partnership_box {
    grid-template-columns: 1fr;
    padding: 40px 0;
  }
}
.partnership .partnership_box .section_title h3::before {
  content: '';
  width: 50px;
  top: -10px;
  left: -20px;
}
.partnership .partnership_box .main-btn {
  margin-top: 30px;
}
.partnership .partnership_box .partnership_img {
  width: calc(100% - 30px);
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-left: 30px;
}
@media (max-width: 760px) {
  .partnership .partnership_box .partnership_img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 60%;
    justify-self: center;
  }
}
.partnership .partnership_box .partnership_img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.partnership .partnership_box .partnership_img::before {
  content: '';
  background-color: #ed9fad;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: -30px;
  left: -30px;
}
.partnership .partnership_box .partnership_img::after {
  content: '';
  background-color: #ed9fad;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  bottom: -30px;
  right: -30px;
}
.feedback {
  margin-top: 90px;
}
.feedback .feedback_card {
  padding: 60px 120px;
  background: url(../img/feedback/feedback-fon.jpg) no-repeat, #f3f3f3;
  background-position: top right;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 760px) {
  .feedback .feedback_card {
    grid-template-columns: 1fr;
    padding: 30px 20px;
  }
}
.feedback .feedback_card .feedback_content {
  max-width: 360px;
}
@media (max-width: 1090px) {
  .feedback .feedback_card .feedback_content {
    max-width: 100%;
  }
}
.feedback .feedback_card .feedback_content .feedback_subtitle {
  font-size: 14px;
  text-transform: uppercase;
}
.feedback .feedback_card .feedback_content .feedback_title {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 35px;
}
.feedback .feedback_card .feedback_content .feedback_text {
  margin-top: 25px;
}
.feedback .feedback_card .feedback_form {
  display: grid;
  grid-gap: 15px;
}
.feedback .feedback_card .feedback_form input,
.feedback .feedback_card .feedback_form textarea {
  border: none;
  border-radius: 30px;
  padding: 13px 23px;
  font-family: 'Century Gothic', sans-serif;
  color: #838282;
  font-size: 13px;
  line-height: 1;
}
.feedback .feedback_card .feedback_form .main-btn {
  color: #fff;
  font-size: 16px;
  display: inline;
  width: 250px;
}
.feedback .feedback_card .feedback_form .main-btn:hover {
  color: #ce1538;
  cursor: pointer;
  border: 3px solid #ce1538;
}
.social {
  margin: 50px 0;
  display: grid;
  grid-template-columns: auto 220px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social .social_line {
  height: 3px;
  background-color: #ed9fad;
}
.social_box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
.social_box i.fab,
.social_box i.fas {
  color: #ed9fad;
  font-size: 38px;
  -webkit-transition: .3s;
  transition: .3s;
}
.social_box i.fab:hover,
.social_box i.fas:hover {
  color: #ce1538;
  cursor: pointer;
}
.footer {
  background-color: #f9d2d9;
  padding: 30px 0;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .container .footer_logo {
  margin-right: 100px;
}
.footer .container .footer_text p {
  font-size: 13px;
  margin-top: 20px;
}
.footer .container .footer_text p:first-child {
  margin-top: 0;
}
/*# sourceMappingURL=style.css.map */